.advantages__block::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: $white;
  clip-path: polygon(0 0, 100% 0, 0 10%);
  top: 0;
  left: 0;
}

.advantages__block {
  position: relative;
  background-color: $grey;
  padding-top: 75px;
  margin-bottom: 50px;

  @include tablets {
    overflow: hidden;
    padding-top: 114px;
    margin-bottom: 54px;
  }

  @include desktop {
    padding-top: 36px;
  }
}
