.applications__block {
  background-color: $grey;
  margin-bottom: 45px;

  @include tablets {
    background-color: $white;
    margin-bottom: 53px;
    order: -2;
  }

  @include desktop {
    margin-bottom: 0;
    order: -2;
  }

  &.container {
    @include desktop {
      width: 50%;
      max-width: 431px;
      padding: 0;
      margin-left: 74px;
      margin-right: 0;
    }
  }
}

.applications__title {
  max-width: 181px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: $pink;
  margin-bottom: 33px;
  padding-top: 39px;

  @include tablets {
    background-color: $white;
    line-height: 30px;
    max-width: 369px;
    padding-right: 25px;
    padding-left: 25px;
    display: block;
    padding-top: initial;
    margin-bottom: 36px;
  }
}

.applications__title--phones {
  @include phones {
    display: none;
  }

  @include tablets {
    margin-bottom: 29px;
    display: block;
  }
}
