.background {
  background-color: $grey;
  padding-top: 20px;
  border-bottom: 1px solid transparent;
  padding-bottom: 41px;
  margin-bottom: 57px;

  @include tablets {
    display: flex;
    padding-top: 57px;
    padding-bottom: 54px;
    justify-content: center;
  }
}

.background__editor-img {
  margin-bottom: 26px;

  @include tablets {
    margin-right: 48px;
    min-width: 333px;
  }

  @include desktop {
    margin-right: 90px;
  }
}

.background__effects--editor-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 35px;
  margin-bottom: 35px;

  @include tablets {
    display: none;
  }
}

.background__editor--tablet-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgba(40, 54, 69, 0.1);
  padding-bottom: 34px;
  padding-top: 34px;
}

.background__effects--editor-svg {
  fill: $extra-light-black;
  opacity: 0.3;
  transition: 0.25s;

  &:hover {
    opacity: 0.5;
  }
}

.background__editor-svg--active:active {
  fill: $pink;
}

.background__editor--tablet-list {
  display: none;
  list-style: none;
  padding: 0;

  @include tablets {
    display: block;
    margin: 0;
  }
}

/*input-type-tange*/

.background__editor-range {
  min-width: 240px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: transparent;
  -webkit-appearance: none;


  @include desktop {
    min-width: 288px;
  }

  &:focus {
    outline: none;
  }
}

.background__editor--phone-range {
  @include tablets {
    display: none;
  }
}

.background__editor-range::-webkit-slider-runnable-track {
  background: $extra-light-black;
  border: 0.2px solid $black;
  border-radius: 1.3px;
  width: 100%;
  height: 2px;
  cursor: pointer;
}

.background__editor-range::-webkit-slider-thumb {
  margin-top: -6.2px;
  width: 15px;
  height: 14px;
  background-color: $white;
  border: 2px solid $pink;
  border-radius: 50px;
  cursor: pointer;
  -webkit-appearance: none;
  transition: 0.25s;

  &:hover {
    background-color: $pink;
  }

  &:focus::-webkit-slider-runnable-track {
    background: #6f8cab;
  }
}

.background__editor-range::-moz-range-track {
  background: $extra-light-black;
  border: 0.2px solid $black;
  border-radius: 1.3px;
  width: 100%;
  height: 2px;
  cursor: pointer;
}

.background__editor-range::-moz-range-thumb {
  width: 15px;
  height: 14px;
  background: $white;
  border: 2px solid $pink;
  border-radius: 50px;
  cursor: pointer;
}

.background__editor-range::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 7px 0;
  color: transparent;
  width: 100%;
  height: 2px;
  cursor: pointer;
}

.background__editor-range::-ms-fill-lower {
  background: $black;
  border: 0.2px solid $black;
  border-radius: 2.6px;
}

.background__editor-range::-ms-fill-upper {
  background: $extra-light-black;
  border: 0.2px solid $black;
  border-radius: 2.6px;
}

.background__editor-range::-ms-thumb {
  width: 15px;
  height: 14px;
  background: $white;
  border: 2px solid $pink;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 0;
}

.background__editor-range:focus::-ms-fill-lower {
  background: $extra-light-black;
}

.background__editor-range:focus::-ms-fill-upper {
  background: #6f8cab;
}

@supports (-ms-ime-align:auto) {
  margin: 0;
}

.background__effects {
  display: flex;
  flex-direction: column;
  margin-bottom: 34px;
}

.background__editor-effects::after {
  content: "";
  border-bottom: 2px solid #283645;
  opacity: 0.1;
  left: 0;
  right: 0;
  width: 100%;
  display: block;
  position: absolute;

  @include tablets {
    display: none;
  }
}


.background__editor--block {
  @include desktop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.background__editor--button {
  @include desktop {
    display: flex;
    gap: 44px;
  }
}
