.button {
  max-width: 282px;
  display: inline-block;
  border: 3px solid $white;
  box-sizing: border-box;
  border-radius: 35px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 15px;
  padding-bottom: 16px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: $white;
  text-decoration: none;
  transition: 0.25s;
  width: 100%;

  @include tablets {
    max-width: 300px;
    padding-left: 32px;
    padding-right: 28px;
    padding-top: 15px;
    padding-bottom: 16px;
    margin-bottom: 46px;
  }

  @include desktop {
    font-size: 21px;
    padding-left: 17px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &:hover {
    background-color: $white;
    color: $pink;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
    background-color: $white;
  }
}

.button__post {
  font-family: "Open sans", "Arial", sans-serif;
  cursor: pointer;
  transition: 0.25s;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: $pink;
  border: 3px solid $pink;
  border-radius: 30px;
  padding-top: 15px;
  padding-bottom: 16px;
  padding-left: 88px;
  padding-right: 88px;
  text-align: center;
  display: block;
  width: 100%;

  @include tablets {
    max-width: 260px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;

    @include desktop {
      max-width: 183px;
      padding-left: 42px;
      padding-right: 42px;
    }
  }

  &:hover {
    background-color: $pink;
    color: $white;
  }

  &:active {
    background-color: $pink;
    color: rgba(255, 255, 255, 0.3);
  }
}

.button__green {
  background: $green;
  border-radius: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: $white;
  border: none;
  transition: 0.25s;
  text-transform: uppercase;
  cursor: pointer;
  max-width: 296px;
  padding: 17px 48px 16px 48px;

  @include tablets {
    padding-left: 57px;
    padding-right: 55px;
    min-width: 300px;
  }

  &:hover {
    background-color: $green-dark;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.button__green--close {
  padding-right: 75px;
  padding-left: 75px;
}
