.effect {
  @include tablets {
    order: -1;
    margin-bottom: 109px;
  }
}

.effect__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $pink;

  @include tablets {
    font-size: 14px;
  }
}


.effect__title {
  max-width: 298px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;

  @include tablets {
    max-width: 296px;
    line-height: 36px;
    margin: 0;
    margin-top: 42px;
    margin-bottom: 10px;
  }

  @include desktop {
    max-width: 298px;
    margin: 0;
    margin-top: 56px;
    margin-bottom: 21px;
  }
}

.effect__subtitle {
  max-width: 534px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 47px;

  @include tablets {
    max-width: 307px;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 7px;
  }

  @include desktop {
    max-width: 534px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 33px;
  }
}


.effect__block {
  @include phones {
    display: none;
  }

  @include tablets {
    display: flex;
    flex-direction: row;
    gap: 72px;
    margin-bottom: 100px;
  }

  @include desktop {
    display: flex;
    margin-bottom: 69px;
  }
}

.effect__svg--24hors-tablets {
  @include desktop {
    display: none;
  }
}


.effect__svg--24hors-desktop {
  @include tablets {
    display: none;
  }

  @include desktop {
    display: block;
    margin-bottom: 30px;
    position: relative;
    bottom: 36px;
  }
}

.effect__background {
  @include desktop {
    background-color: $grey;
  }
}
