.form-wrapper {
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  justify-content: center;

  @include tablets {
    flex-direction: column;
  }

  @include desktop {
    flex-direction: row;
  }
}
