.header-block__grid {
  @include tablets {
    max-width: 50%;
  }

  @include desktop {
    max-width: 46%;
  }

  @include desktop-fulhd-width {
    max-width: 46%;
  }
}

.header-block {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;

  @include desktop {
    max-width: 100%;
  }
}

.header-block__phone-image {
  position: relative;
  top: 5px;

  @include tablets {
    position: absolute;
    top: initial;
    bottom: 0;
  }

  @include desktop {
    max-width: initial;
    right: 4px;
    bottom: -130px;
  }
}

.header-block--home-page {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: top;

  @include tablets {
    border-bottom: solid 1px transparent;
    margin-bottom: 46px;
  }

  @include desktop {
    margin-bottom: 61px;
  }

  @include retina {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }

  @include tablets {
    background-image: url("../img/bg-back-tablet@1x.jpg");

    @include retina {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  @include desktop {
    background-image: url("../img/bg-back-desktop@1x.jpg");

    @include retina {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }
}

.header-block--home-page-form {
  @include tablets {
    margin-bottom: 89px;
  }
}
