.header__pink-logo_visible-phone {
  @include tablets {
    display: none;
  }
}

.header__pink-logo_visible-tablet {

  display: none;


  @include tablets {
    display: block;
  }

  @include desktop {
    display: none;
  }
}

.header__pink-logo_visible-desktop {

  display: none;


  @include tablets {
    display: none;
  }

  @include desktop {
    display: block;
  }
}


.header__pink-logo {
  fill: $white;
  transition: 0.25s;

  &:hover {
    fill: $pink;
  }

  &:active {
    fill: $white;
    opacity: 0.3;
  }
}

.header {
  background-repeat: no-repeat;
  background-size: cover;
}

.header-home-page {
  background-image: url("../img/back-mobile.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;

  @include tablets {
    border-bottom: solid 1px transparent;
    margin-bottom: 100px;
  }

  @include desktop {
    margin-bottom: 100px;
  }

  @media only screen and (min-width: $tablet-width) and (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@x2.jpg");
  }
}

.header__logo-wrapper {
  display: flex;
  justify-content: space-between;
}

.header__top-wrapper {
  background-color: $extra-light-black;
  padding-top: 21px;
  padding-bottom: 21px;
}

.header__top_close .header__top-wrapper {
  background-color: rgba(0, 0, 0, 0.3);
}

.header__top-wrapper_closed .main-nav {
  display: none;
}

.header__top_close .site-list {
  display: none;
}
