.main-title {
  max-width: 226px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 19px;
  text-align: center;
  font-size: 24px;
  line-height: 135%;
  color: $white;
  font-weight: 300;

  @include tablets {
    line-height: 120%;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    min-width: 358px;
  }
}

.main-title--catalog {
  margin-bottom: 76px;

  @include tablets {
    min-width: 358px;
    margin-bottom: 126px;
    line-height: 68px;
    font-size: 50px;
  }

  @include desktop {
    margin-bottom: 88px;
  }
}

.main-title--index {
  @include tablets {
    font-size: 40px;
    min-width: 238px;
    position: relative;
    left: 5px;
    z-index: 1;
  }

  @include desktop {
    position: relative;
    top: 16px;
    left: 0;
    line-height: 68px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 54px;
    font-size: 50px;
    min-width: 307px;
  }
}
