.phone__smile-pink--img {
  @include tablets {
    max-width: initial;
    position: relative;
    bottom: 178px;
    right: 111px;
  }
}

.phone__image {
  position: relative;
  top: 5px;

  @include tablets {
    position: absolute;
    top: initial;
    bottom: 0;
  }

  @include desktop {
    max-width: initial;
    right: 4px;
    bottom: -130px;
  }
}


.phone__smile-pink {
  width: 157px;
  height: 320px;
  padding: 0;
  position: relative;
  top: 43px;

  @include tablets {
    order: -1;
    margin-right: 42px;
  }

  @include desktop {
    display: none;
  }
}
