.phone__smile-pink--img {
  @include tablets {
    max-width: initial;
    position: relative;
    bottom: 198px;
    right: 112px;
  }
}

.phone__image {
  position: relative;
  top: 5px;

  @include tablets {
    position: absolute;
    top: initial;
    bottom: -48px;
    right: 20px;
  }

  @include desktop {
    max-width: initial;
    right: 0;
    bottom: -132px;
  }
}


.phone__smile-pink {
  width: 157px;
  height: 320px;
  padding: 0;
  position: relative;
  top: 77px;

  @include tablets {
    order: -1;
    margin-right: 42px;
  }

  @include desktop {
    display: none;
  }
}
