.price {
  padding-top: 86px;
  position: relative;
  background-color: $grey;
  border-bottom: 1px solid transparent;
  margin-bottom: 41px;

  @include desktop {
    margin-bottom: 69px;
  }
}

.price::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: $white;
  clip-path: polygon(0 0, 100% 0, 0 4%);
  top: 0;
  left: 0;
}

.price__position {
  display: none;
  list-style: none;
  flex: 1;
  text-align: center;
  position: relative;

  &:not(:first-child) .price__name {
    @include tablets {
      display: none;
    }
  }

  @include tablets {
    display: block;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    background-color: $grey;

    @include tablets {
      display: none;
    }
  }

  &::before {
    left: 20px;
  }

  &::after {
    right: 20px;
  }
}

.price__position_active {
  display: block;
}

.price__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: $white;
  background-color: $extra-light-black;
  padding-top: 14px;
  padding-bottom: 29px;

  @include tablets {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
  }

  @include desktop {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    padding-top: 14px;
    padding-bottom: 22px;
  }

  &_icon_hit::before {
    content: attr(title);
    color: $white;
    position: absolute;
    left: 0;
    top: 0;
    background-color: $pink;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 30px;
  }
}

.price__value {
  font-weight: 300;
  font-size: 18px;
  line-height: 29px;

  @include tablets {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
  }

  @include desktop {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
  }
}

.price__name {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $extra-light-black;

  @include desktop {
    text-transform: none;
    font-size: 18px;
    line-height: 30px;
  }
}

.price__icon {
  background-color: $white;
  display: flex;
  justify-content: space-between;
  border: 1px solid $light-grey;
  border-radius: 1px 0 0 0;
  min-height: 60px;
  align-items: center;
  padding-right: 40px;
  padding-left: 41px;

  @include tablets {
    justify-content: center;
  }
}

.price__item {
  background-color: $white;
  display: flex;
  justify-content: space-between;
  border: 1px solid $light-grey;
  border-radius: 1px 0 0 0;
  min-height: 60px;
  align-items: center;
  padding-left: 17px;
}

.price__wrapper {
  padding: 0;
  display: flex;
  margin-bottom: 45px;
  align-items: flex-end;

  @include tablets {
    margin-bottom: 70px;
  }

  @include desktop {
    margin-top: 53px;
    margin-bottom: 88px;
  }
}

.price__title_no-background {
  background-color: transparent;
}
