.progress__checkbox {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: column;

  @include desktop {
    display: grid;
    column-gap: 53px;
    grid-template-columns: 260px 242px 210px;
    padding: 0 60px;
  }
}

.progress {
  background-color: $grey;
  margin-bottom: 26px;

  @include tablets {
    background-color: $white;
    margin-bottom: 53px;
    order: initial;
  }

  @include desktop {
    margin-bottom: 52px;
  }
}

.progress__title {
  text-transform: uppercase;
  max-width: 222px;
  color: $pink;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin-bottom: 37px;
  text-align: center;
  padding-top: 39px;

  @include tablets {
    max-width: 374px;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: initial;
    margin-bottom: 42px;
  }
}

.progress__title-fuul-width {
  @include tablets {
    max-width: 574px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.progress__point {
  font-size: 18px;
  line-height: 30px;
  color: $extra-light-black;
  font-weight: 400;
  /*padding-left: 1.2em;*/
  margin-bottom: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  min-width: 284px;
}

.progress__checkbox-item {
  margin-bottom: 43px;

  @include tablets {
    margin-left: 58px;
  }

  @include desktop {
    margin-left: 0;
  }
}

.progress__checkbox-item:nth-last-of-type(1) {
  margin-bottom: 49px;

  @include desktop {
    margin-bottom: 56px;
  }
}

.progress__checkbox-input:checked + label .progress__check-box {
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.progress__check-box {
  width: 39px;
  height: 39px;
  cursor: pointer;
  margin-right: 20px;
  transition: 0.25s;
  border: 2px $light-grey solid;
  border-radius: 4px;
  background-color: $white;
  background-position: center;

  &:hover {
    border-color: $black;
  }

  &:active {
    border-color: $pink;
  }
}


.progress__checkbox-input {
  padding-left: 2.2em;
  appearance: none;
  position: absolute;
}

.progress__beach {
  @include desktop {
    order: 5;
  }
}

.progress__chack {
  @include desktop {
    order: 3;
  }
}

.progress__souvenir {
  @include desktop {
    order: 6;
  }
}

.progress__tower {
  @include desktop {
    order: 4;
  }
}

.progress__hotel {
  @include desktop {
    order: 6;
  }
}
