.raffle-text {
  max-width: 280px;
  padding-top: 3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 35px;

  @include tablets {
    max-width: 490px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 69px;
  }

  @include desktop {
    max-width: 756px;
    margin-bottom: 65px;
  }
}

.raffle-text__tablet {
  display: none;

  @include tablets {
    display: block;
  }

  @include desktop {
    display: inline;
  }
}
