.write {
  order: -1;
}

.write__input {
  font-family: "Open sans", "Arial", sans-serif;
  font-weight: 400;
  color: $extra-light-black;
  font-size: 18px;
  line-height: 30px;
  padding: 15px 0 14px 20px;
  width: 100%;
  border: 2px solid $light-grey;
  border-radius: 1px;
  transition: 0.25s;
  margin-top: 5px;

  @include tablets {
    order: -1;
    margin: 0;
    margin-bottom: 6px;
    padding-top: 16px;
  }

  &:hover {
    border-color: $extra-light-black;
  }
}

.write__form {
  margin-bottom: 25px;
  order: -1;

  @include tablets {
    margin-bottom: 3px;
    order: -3;
  }

  @include desktop {
    margin-bottom: 47px;
  }
}

.write__width {
  @include desktop {
    width: 36%;
    padding-top: 16px;
  }
}

.write__item {
  @include desktop {
    display: flex;
  }
}

.write__input-contact {
  @include tablets {
    padding-top: 15px;
    margin-bottom: 9px;
    margin-left: auto;
    margin-right: auto;
  }
}

.write__item-contact {
  margin-bottom: 23px;

  @include tablets {
    margin-bottom: 61px;
  }

  @include desktop {
    margin-bottom: 59px;
  }
}
