// Начните писать стили здесь
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 940px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
}

.page {
  font-family: "Open sans", "Arial", sans-serif;
  height: 100%;
}

.page__body {
  margin: 0px;
}

.main-title {
  width: 300px;
  text-align: center;
  font-weight: 300;
  font-size: 50px;
  line-height: 68px;
  color: gray;
}

.available-OS {
  width: 205px;
  display: flex;
  justify-content: space-between;
  column-gap: 34px;
}

.main-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.download {
  font-weight: 700;
  font-size: 21px;
  line-height: 18px;
  text-decoration: none;
  color: #283645;
  border: solid 3px;
  border-radius: 29px;
  padding-bottom: 20px;
  padding-top: 20px;
  transition: 0.25s;
  display: block;
  width: 300px;
  text-align: center;
}

.download:hover {
  background-color: #ffffff;
  color: #d22856;
}

.download:active {
  color: rgba(210, 40, 86, 0.3);
  background-color: #ffffff;
}

.advantages__offer {
  width: 780px;
  text-align: center;
  font-weight: 300;
  font-size: 50px;
  line-height: 68px;
}

.advantages__title {
  margin: 0px;
  margin-bottom: 35px;
  width: 240px;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
}

.advantages__subtitle {
  margin: 0px;
  width: 252px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.advantages__list {
  margin: 0px;
  list-style: none;
  display: flex;
  column-gap: 78px;
  padding: 0px;
}

.advantages__block {
  border: 5px solid;
  margin-bottom: 174px;
}

.advantages-background {
  background-image: url(/img/grey-background.svg);
}

.effect-block {
  margin-bottom: 192px;
}

.effect__title {
  width: 298px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
}

.effect__subtitle {
  width: 534px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 47px;
}

.effect__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #d22856;
}

.quotes {
  margin-left: 560px;
}

.reviews__text {
  width: 688px;
  margin-left: 256px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.reviews__autor-name {
  margin-left: 494px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.price__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.connection__blocks {
  display: flex;
  justify-content: space-between;
}

.connection__title {
  margin-left: 368px;
  width: 492px;
  font-weight: 300;
  font-size: 50px;
  line-height: 68px;
  color: #283645;
}

.connection__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #283645;
}

.link {
  color: #d22856;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
}

.developed__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

.access {

  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
}

.header-hat {
  display: flex;
}

.header-block {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
}

.site-list__item {
  list-style: none;
}

.site__link {
  color: #ffffff;
  padding-left: 50px;
  font-weight: 400;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
}

.site-list {
  display: flex;
}

.footer__list {
  list-style: none;
}

.footer__item {
  border: 3px solid #e5e5e5;
  display: inline-block;
  border-radius: 50%;
}
